USE [master]
GO
/****** Object:  Database [FUNewsDB]    Script Date: 1/20/2026 4:22:52 AM ******/
CREATE DATABASE [FUNewsDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FUNewsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FUNewsDB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 1/20/2026 4:22:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [nvarchar](100) NULL,
	[CategoryDescription] [nvarchar](255) NULL,
	[ParentCategoryID] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsArticle]    Script Date: 1/20/2026 4:22:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsArticle](
	[NewsArticleID] [int] NOT NULL,
	[NewsTitle] [nvarchar](255) NULL,
	[Headline] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[NewsContent] [text] NULL,
	[NewsSource] [nvarchar](100) NULL,
	[CategoryID] [int] NULL,
	[NewsStatus] [int] NULL,
	[CreatedByID] [int] NULL,
	[UpdatedByID] [int] NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsTag]    Script Date: 1/20/2026 4:22:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsTag](
	[NewsArticleID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsArticleID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemAccount]    Script Date: 1/20/2026 4:22:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemAccount](
	[AccountID] [int] NOT NULL,
	[AccountName] [nvarchar](100) NULL,
	[AccountEmail] [nvarchar](100) NULL,
	[AccountRole] [int] NULL,
	[AccountPassword] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 1/20/2026 4:22:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[TagID] [int] NOT NULL,
	[TagName] [nvarchar](100) NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CategoryDescription], [ParentCategoryID], [IsActive]) VALUES (1, N'Thế giới', N'Tin tức quốc tế', NULL, 1)
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CategoryDescription], [ParentCategoryID], [IsActive]) VALUES (2, N'Công nghệ', N'Tin tức về tech và gadget', NULL, 1)
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CategoryDescription], [ParentCategoryID], [IsActive]) VALUES (3, N'Trí tuệ nhân tạo', N'Chuyên mục con của Công nghệ', 2, 1)
GO
INSERT [dbo].[NewsArticle] ([NewsArticleID], [NewsTitle], [Headline], [CreatedDate], [NewsContent], [NewsSource], [CategoryID], [NewsStatus], [CreatedByID], [UpdatedByID], [ModifiedDate]) VALUES (1, N'Sự bùng nổ của ChatGPT', N'AI dang thay đổi thế giới', CAST(N'2023-10-01T08:00:00.000' AS DateTime), N'Noi dung chi tiet ve ChatGPT...', N'Reuters', 3, 1, 1, 1, CAST(N'2023-10-01T08:00:00.000' AS DateTime))
INSERT [dbo].[NewsArticle] ([NewsArticleID], [NewsTitle], [Headline], [CreatedDate], [NewsContent], [NewsSource], [CategoryID], [NewsStatus], [CreatedByID], [UpdatedByID], [ModifiedDate]) VALUES (2, N'Thị trường tiền số biến động', N'Bitcoin giảm giá mạnh', CAST(N'2023-10-02T10:30:00.000' AS DateTime), N'Noi dung ve thi truong crypto...', N'Bloomberg', 2, 1, 1, 2, CAST(N'2023-10-02T11:00:00.000' AS DateTime))
INSERT [dbo].[NewsArticle] ([NewsArticleID], [NewsTitle], [Headline], [CreatedDate], [NewsContent], [NewsSource], [CategoryID], [NewsStatus], [CreatedByID], [UpdatedByID], [ModifiedDate]) VALUES (3, N'Ðội tuyển VN thắng lớn', N'Chiến thắng 3-0 tại Mỹ Ðình', CAST(N'2023-10-05T19:30:00.000' AS DateTime), N'Chi tiet tran dau...', N'VFF News', 5, 1, 3, 3, CAST(N'2023-10-05T21:00:00.000' AS DateTime))
GO
INSERT [dbo].[NewsTag] ([NewsArticleID], [TagID]) VALUES (1, 1)
INSERT [dbo].[NewsTag] ([NewsArticleID], [TagID]) VALUES (1, 3)
INSERT [dbo].[NewsTag] ([NewsArticleID], [TagID]) VALUES (2, 2)
GO
INSERT [dbo].[SystemAccount] ([AccountID], [AccountName], [AccountEmail], [AccountRole], [AccountPassword]) VALUES (1, N'Nguyen Van A', N'author1@news.com', 1, N'password123')
INSERT [dbo].[SystemAccount] ([AccountID], [AccountName], [AccountEmail], [AccountRole], [AccountPassword]) VALUES (2, N'Tran Thi B', N'editor1@news.com', 2, N'securepass456')
INSERT [dbo].[SystemAccount] ([AccountID], [AccountName], [AccountEmail], [AccountRole], [AccountPassword]) VALUES (3, N'Lê Minh C', N'minhcle@news.com', 1, N'pass789')
GO
INSERT [dbo].[Tag] ([TagID], [TagName], [Note]) VALUES (1, N'AI', N'Artificial Intelligence')
INSERT [dbo].[Tag] ([TagID], [TagName], [Note]) VALUES (2, N'Blockchain', N'Công nghệ chuỗi khối')
INSERT [dbo].[Tag] ([TagID], [TagName], [Note]) VALUES (3, N'Thế giới số', N'Thời đại số hóa')
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD FOREIGN KEY([ParentCategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[NewsArticle]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[NewsArticle]  WITH CHECK ADD FOREIGN KEY([CreatedByID])
REFERENCES [dbo].[SystemAccount] ([AccountID])
GO
ALTER TABLE [dbo].[NewsArticle]  WITH CHECK ADD FOREIGN KEY([UpdatedByID])
REFERENCES [dbo].[SystemAccount] ([AccountID])
GO
ALTER TABLE [dbo].[NewsTag]  WITH CHECK ADD FOREIGN KEY([NewsArticleID])
REFERENCES [dbo].[NewsArticle] ([NewsArticleID])
GO
ALTER TABLE [dbo].[NewsTag]  WITH CHECK ADD FOREIGN KEY([TagID])
REFERENCES [dbo].[Tag] ([TagID])
GO
USE [master]
GO
